.md {
    font-size: large;
}

.md h1 {
    /* font-family: 'Bebas Neue'; */
    color: var(--cdek-blue);
    font-size: 2rem/* 24px */;
    font-weight: bold;
    line-height: 2rem/* 32px */;
    margin-top: 2rem/* 16px 0 */;
}

.md h2 {
    /* font-family: 'Bebas Neue'; */
    color: var(--cdek-blue);
    font-size: 1.5rem/* 24px */;
    font-weight: bold;
    line-height: 1.5rem/* 32px */;
    margin-top: 1rem/* 16px 0 */;
}

.md p {
    margin-top: 1rem;
}

.md section {
    font-family: 'Roboto Flex';
    padding: 1rem/* 16px */;
    margin: 1rem/* 16px */;
}

.md pre {
    margin-top: 1rem;
}

.md img {
    max-width: 20rem;
}